.logo {
    // width: 28px;
    // height: 28px;
    margin: 25px;
    cursor: pointer;
}
.logo img {
    width: 28px;
    height: 28px;
    // margin: 25px;
    // cursor: pointer;
}

// .logo:hover {
//     border: 10px #EFEFEF solid;
//     border-radius: 50%;
//     background: #EFEFEF;
//     margin: 15px;
// }
