.pin {
    width: 240px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    cursor: zoom-in;
    &:hover {
        background-color: #F2F2F2;
         img {
            opacity: 0.8;
        }
    }
}
.pin .img-wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: inherit;
    max-height: 500px;
}
.pin .img-wrapper {
    background-color: black;
    display: grid;
    position: relative;
    border-radius: inherit;
}


.pin .options-wrapper {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    font-weight: 700;
}

.pin:hover {
    .link-btn, .select-menu-header  {
        display: flex;
    }
}

.pin .link-btn {
    position: absolute;
    bottom: 7px;
    left: 7px;
    background: #EFEFEF;
    border-radius: 5px;
    display: none;

}
.pin .link-btn span {
    font-size: 13px;
}

