.add-menu {
    position: fixed;
    background-color: white;
    right: 25px;
    bottom: 50px;
    border-radius: 50%
}
.add-menu .items-wrapper {
    top: -13px;
    right: 54px;
}
.add-menu .add-button {
    box-shadow: 0px 2px 2px 0px lightgrey;
}