.btn, .link-btn {
    padding: 6px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.btn:hover, .link-btn:hover {
    background: #EFEFEF;
}

.btn-img {
    width: 25px;
    height: 25px;
}
.btn span {
    display: inline-block;
    font-size: 16px;
}
.btn .faIcon,
.link-btn .faIcon,
.btn .btn-img,
.link-btn .btn-img
{
    padding: 5px 10px;
}