.header-menus {
    display: flex;
    
}
.header-menus .header-menu-btn {
    padding: 12px ;
    border-radius: 50%;
    cursor: pointer;
    font-size: 23px;
    /* color: #333333; */
}
.header-menus .link-btn {
    color: #333333;
}
.header-menus .header-menu-btn:hover {
    background: #EFEFEF;
}