.search {
    margin: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: #EFEFEF;
}
.search-icon {
    padding: 7px 15px;
    font-size: 21px;
    color: #8E8E8E;
}