.search {
    width: 68%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: #EFEFEF;
}
.search-icon {
    margin-left: 17px;
    font-size: 21px;
}
/* input:focus {
    border: 4px solid red;
} */