.logo {
    width: 33px;
    height: 33px;
}
.logo:hover {
    border: 9px #EFEFEF solid;
    border-radius: 50%;
    background: #EFEFEF;
}
header {
    height: 64px;
    display: flex;
    align-items: center;
    border: 1px solid #EFEFEF;
}
